* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.App {
    height: 100vh;
}

.Layout {
    height: 100%;
}

.ant-menu-item-selected {
    background-color: white !important;
    color: black !important;
    font-weight: 700;

    path {
        fill: black;
    }
}
