.tabInformation {
    // display: flex;
    // justify-content: center;
    & .ant-tabs-nav-wrap {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    input {
        outline: none !important;
        border: none;
        border-bottom: 1px solid black;
        border-radius: 0;
        pointer-events: none;
        position: relative;
        top: -10px;

        padding-left: 0;
        // z-index: -5;
    }

    label {
        color: #595959 !important;
    }
}

.Modal_Infomation {
    width: 700px;
}
