.container {
    display: flex;

    .content-left {
        width: 40%;
        margin-right: 10px;

        .content-top {
            border: 1px solid rgb(173, 171, 167);
            border-radius: 13px;
            margin-bottom: 15px;
            overflow: hidden;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

            .title {
                background-color: #e5e5e5;
                padding: 10px;
            }

            .body {
                padding: 23px 0px 35px 25px;
            }
        }

        .content-bottom {
            border: 1px solid rgb(173, 171, 167);
            border-radius: 13px;
            margin-bottom: 15px;
            overflow: hidden;
            height: 210px;
            position: relative;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            .title {
                background-color: #e5e5e5;
                padding: 10px;
            }

            .btn {
                position: absolute;
                top: 100px;
                left: 160px;
            }
        }
    }

    .content-right {
        width: 60%;
        border: 1px solid rgb(173, 171, 167);
        border-radius: 13px;
        margin-bottom: 15px;
        overflow: hidden;
        height: 600px;
        position: relative;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        .title {
            background-color: #e5e5e5;
            padding: 10px;
        }

        .btn-option {
            position: absolute;
            top: 300px;
            left: 300px;
        }
    }
}
