.form {
    & > * {
        margin-top: -20px;
    }
    width: 600px;
}

.item_horizontal {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;

    & > * {
        width: 40%;
    }
}
