.passwordForm {
    span {
        border: none;
        outline: none;
    }

    input {
        border: none;
        border-bottom: 1px solid black !important;
        border-radius: none !important;
    }

    .form-footer {
        display: flex;
        justify-content: center;
        column-gap: 30px;

        Button {
            min-width: 115px;
        }

        Button:last-child {
            background-color: #ccc;
        }
    }
}
